* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #f5f6ff;
  color: #0f172a;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #020617;
  color: white;
  position: sticky;
  top: 0;
}

.nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav ul li a:hover {
  color: #8b5cf6;
}

.logo {
  color: #8b5cf6;
}

/* HERO */
.hero {
  background: #020617;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 42px;
  margin: 10px 0;
}

.hero h3 {
  font-weight: 400;
}

.college {
  color: #c7d2fe;
  margin-top: 8px;
}

.desc {
  max-width: 700px;
  margin: 20px auto;
  color: #c7d2fe;
}

.hero-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

/* BUTTONS */
.btn {
  background: #8b5cf6;
  color: white;
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
}

.btn-outline {
  border: 2px solid #8b5cf6;
  color: #8b5cf6;
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
}

/* EDUCATION & INTERESTS */
.education,
.interests {
  background: white;
  text-align: center;
  padding: 60px 20px;
}

.education h2,
.interests h2 {
  margin-bottom: 15px;
}

/* SKILLS */
.skills {
  padding: 60px;
  background: #020617;
  color: white;
}

.skill {
  margin-bottom: 20px;
}

.bar {
  background: #334155;
  height: 8px;
  border-radius: 10px;
  margin-top: 5px;
}

.fill {
  height: 8px;
  background: #8b5cf6;
  border-radius: 10px;
}

.w90 { width: 90%; }
.w75 { width: 75%; }
.w70 { width: 70%; }

/* PROJECT */
.project {
  padding: 60px;
  background: white;
  text-align: center;
}

.project-card {
  background: #f1f5ff;
  padding: 30px 30px 25px;
  border-radius: 20px;
  max-width: 700px;
  margin: auto;
}

.project-card p {
  margin: 15px 0 20px;
}

.project-card .btn {
  display: inline-block;
  margin-top: 10px;
}

/* CONTACT */
.contact {
  background: #020617;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

.socials a {
  color: #8b5cf6;
  text-decoration: none;
  font-weight: 500;
}

/* FOOTER */
footer {
  background: #020617;
  color: #94a3b8;
  text-align: center;
  padding: 20px;
}
